# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHARYBDIS_TB_TEST || SHIELD_CHARYBDIS_TB_LP

config ZMK_USB
	default y

endif

if SHIELD_CHARYBDIS_TB_TEST

config ZMK_KEYBOARD_NAME
	default "Charybdis TB"

endif

if SHIELD_CHARYBDIS_TB_LP

config ZMK_KEYBOARD_NAME
	default "Charybdis LP"

config ZMK_SLEEP
	default y

endif
